<!DOCTYPE html>
<html>
<head>
  <title>CL Liao</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= render "layouts/navbar" %>
  </div>

  <div class="container wrapper">
    <%= render "layouts/flash_messages" %>
    <%= yield %>
    <div class="push"></div>
  </div>

  <div class="footer">
    <p class="text-center">Made in NYC © 2014 Codecademy</p>
  </div>
</body>

</html>
